{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "singleQuote": false,
        "quoteProps": "as-needed",
        "jsxSingleQuote": false
      }
    }
  ]
}
